#root {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: auto;
}

input {
  margin: 1rem;
}

.react-player video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}
